/* Auth UI */
:root {
  --auth-ui-clr: hsl(0, 0%, 98%);
  --auth-ui-bdr-clr: hsl(0, 0%, 32%);
  --auth-ui-shadow-clr: rgba(0, 0, 0, 0.5);

  --close-popup-hover-clr: hsl(0, 0%, 90%);
  --close-popup-focus-clr: hsl(0, 0%, 80%);

  --google-btn-clr: hsl(217, 89%, 88%);
  --google-btn-bdr-clr: hsl(217, 89%, 62%);
  --google-btn-hover-clr: hsl(217, 89%, 78%);
  --google-btn-focus-clr: hsl(217, 89%, 62%);

  --microsoft-btn-clr: hsl(0, 0%, 88%);
  --microsoft-btn-bdr-clr: hsl(0, 0%, 62%);
  --microsoft-btn-hover-clr: hsl(0, 0%, 78%);
  --microsoft-btn-focus-clr: hsl(0, 0%, 62%);
}

.auth-ui {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 500px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--auth-ui-bdr-clr);
  background-color: var(--auth-ui-clr);
  box-shadow: 0 0 10px 100vmax var(--auth-ui-shadow-clr);
}

.auth-ui .auth-ui-header {
  position: static;
  width: 100%;
  padding: 0;
  text-align: left;
  border: 0;

  display: flex;
  justify-content: end;
}

.auth-ui .auth-ui-header .close-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background-color: transparent;
}

.auth-ui .auth-ui-header .close-popup:hover {
  background-color: var(--close-popup-hover-clr);
}

.auth-ui .auth-ui-header .close-popup:focus-visible {
  box-shadow: 0 0 0 3px var(--close-popup-focus-clr);
}

.auth-ui .auth-ui-header .close-popup img {
  width: 0.75rem;
  height: 0.75rem;
}

.signin-ui {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.third-party-providers-list {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 1.25rem;
}

.third-party-providers-list li {
  width: 100%;
}

.third-party-providers-list li button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
  padding-block: 0.75rem;
}

.third-party-providers-list li button img {
  width: 1.5rem;
  height: 1.5rem;
}

/* Google */
.third-party-providers-list .google-button {
  border: 1px solid var(--google-btn-bdr-clr);
  background-color: var(--google-btn-clr);
}

.third-party-providers-list .google-button:hover {
  background-color: var(--google-btn-hover-clr);
}

.third-party-providers-list .google-button:focus-visible {
  box-shadow: 0 0 0 3px var(--google-btn-focus-clr);
}

/* Microsoft */
.third-party-providers-list .microsoft-button {
  border: 1px solid var(--microsoft-btn-bdr-clr);
  background-color: var(--microsoft-btn-clr);
}

.third-party-providers-list .microsoft-button:hover {
  background-color: var(--microsoft-btn-hover-clr);
}

.third-party-providers-list .microsoft-button:focus-visible {
  box-shadow: 0 0 0 3px var(--microsoft-btn-focus-clr);
}

@media (max-width: 768px) {
  .auth-ui {
    width: 80vw;
    height: 70vh;
  }
}

@media (max-width: 425px) {
  .auth-ui {
    width: 90vw;
    height: 60vh;
  }
}
