@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --add-btn-clr: hsl(119, 99%, 38%);
  --add-btn-bdr-clr: hsl(119, 99%, 30%);
  --add-btn-focus-clr: rgba(4, 193, 1, 0.5);
  --add-btn-hover-clr: hsl(119, 99%, 36%);

  --edit-btn-clr: hsl(198, 99%, 38%);
  --edit-btn-bdr-clr: hsl(198, 99%, 30%);
  --edit-btn-focus-clr: rgba(1, 135, 193, 0.5);
  --edit-btn-hover-clr: hsl(198, 99%, 36%);

  --del-btn-clr: hsl(13, 99%, 38%);
  --del-btn-bdr-clr: hsl(13, 99%, 30%);
  --del-btn-focus-clr: rgba(193, 43, 1, 0.5);
  --del-btn-hover-clr: hsl(13, 99%, 36%);

  --section-width: 30rem;
  --task-input-width: 85%;
  --form-el-bdr-rad: 0.125rem;
  --checkbox-size: 1.125rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  border: 1px solid;
  border-radius: var(--form-el-bdr-rad);
}

input {
  padding-inline: 0.25rem;
}

input:focus-visible {
  box-shadow: 0 0 0 3px var(--edit-btn-focus-clr);
}

input[type="checkbox"] {
  width: var(--checkbox-size);
  height: var(--checkbox-size);
}

button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.task-section-heading {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

#root {
  min-height: 100vh;
}

header {
  width: 100vw;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

main > section {
  width: var(--section-width);
}

main > section:first-child form {
  display: flex;
  justify-content: space-between;
}

main > section:first-child form input[type="text"] {
  width: var(--task-input-width);
  height: 2rem;
}

/* Add task button */
main > section:first-child form button[type="submit"] {
  padding: 0.125rem 1rem;
  border-color: var(--add-btn-bdr-clr);
  background-color: var(--add-btn-clr);
}

main > section:first-child form button[type="submit"]:hover {
  background-color: var(--add-btn-hover-clr);
}

main > section:first-child form button[type="submit"]:focus-visible {
  box-shadow: 0 0 0 3px var(--add-btn-focus-clr);
}

main > section:nth-child(2) {
  margin-block: 2rem;
}

.task-holder {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.task-holder > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5rem;
  padding: 1rem;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 0.25rem;
}

/* \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ */
.task-holder > li input[type="text"] {
  display: none;
}
/* /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ */

.task-holder > li .task-details {
  display: flex;
  align-items: center;
  width: 70%;
}

.task-holder > li .task-details label {
  padding-inline: 0.5rem;
  word-break: break-all;
}

.task-holder > li .action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  width: 30%;
}

.task-holder > li .action-buttons button {
  font-size: 14px;
  padding: 0.125rem 0.5rem;
}

/* Edit task button */
.task-holder > li .action-buttons > button:first-child {
  color: #fff;
  border-color: var(--edit-btn-bdr-clr);
  background: var(--edit-btn-clr);
}

.task-holder > li .action-buttons > button:first-child:hover {
  background-color: var(--edit-btn-hover-clr);
}

.task-holder > li .action-buttons > button:first-child:focus-visible {
  box-shadow: 0 0 0 3px var(--edit-btn-focus-clr);
}

/* Delete task button */
.task-holder > li .action-buttons > button:last-child {
  color: #fff;
  border-color: var(--del-btn-bdr-clr);
  background: var(--del-btn-clr);
}

.task-holder > li .action-buttons > button:last-child:hover {
  background-color: var(--del-btn-hover-clr);
}

.task-holder > li .action-buttons > button:last-child:focus-visible {
  box-shadow: 0 0 0 3px var(--del-btn-focus-clr);
}

/* Edit mode */
.task-holder > li.edit-mode .task-details {
  column-gap: 0.5rem;
}

.task-holder > li.edit-mode input[type="text"] {
  display: block;
  width: 90%;
}

.task-holder > li.edit-mode .task-details label {
  display: none;
}

@media (max-width: 768px) {
  :root {
    --section-width: 80vw;
    --task-input-width: 68vw;
  }
}

@media (max-width: 425px) {
  :root {
    --section-width: 90vw;
  }

  main > section:first-child form input[type="text"] {
    width: 68vw;
  }
}
