@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

input {
  padding-inline: 0.25rem;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.task-section-heading {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

#root {
  min-height: 100vh;
}

header {
  width: 100vw;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

main > section {
  width: 20rem;
}

main > section:first-child form {
  display: flex;
  justify-content: space-between;
}

main > section:first-child form input[type="text"] {
  width: 75%;
}

main > section:first-child form button[type="submit"] {
  padding: 0.125rem 1rem;
}

main > section:nth-child(2) {
  margin-block: 2rem;
}

.task-holder {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.task-holder > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 0.25rem;
}

/* \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ */
.task-holder > li input[type="text"] {
  display: none;
}
/* /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ */

.task-holder > li .task-details {
  display: flex;
  align-items: center;
}

.task-holder > li .task-details label {
  padding-inline: 0.5rem;
  word-break: break-all;
}

.task-holder > li .action-buttons {
  display: flex;
  gap: 0.5rem;
}

.task-holder > li .action-buttons button {
  font-size: 14px;
  padding: 0.125rem 0.5rem;
}

/* Edit mode */
.task-holder > li.edit-mode input[type="text"] {
  display: block;
  width: 90%;
}

.task-holder > li.edit-mode .task-details label {
  display: none;
}

@media (max-width: 425px) {
  main > section:first-child form input[type="text"] {
    width: 68vw;
  }

  main > section {
    width: 90vw;
  }
}
