:root {
  --font-family: "Poppins", sans-serif;

  --signup-btn-hover-clr: hsl(0, 0%, 90%);
  --signup-btn-focus-clr: hsl(0, 0%, 60%);

  --add-btn-clr: hsl(119, 99%, 38%);
  --add-btn-bdr-clr: hsl(119, 99%, 30%);
  --add-btn-focus-clr: rgba(4, 193, 1, 0.5);
  --add-btn-hover-clr: hsl(119, 99%, 36%);

  --edit-btn-clr: hsl(198, 99%, 38%);
  --edit-btn-bdr-clr: hsl(198, 99%, 30%);
  --edit-btn-focus-clr: rgba(1, 135, 193, 0.5);
  --edit-btn-hover-clr: hsl(198, 99%, 36%);
  --edit-btn-disabled-opacity: 0.4;
  --edit-btn-disabled-clr: hsla(
    198,
    30%,
    60%,
    var(--edit-btn-disabled-opacity)
  );
  --edit-btn-disabled-bdr-clr: hsla(
    198,
    30%,
    60%,
    var(--edit-btn-disabled-opacity)
  );

  --del-btn-clr: hsl(13, 99%, 38%);
  --del-btn-bdr-clr: hsl(13, 99%, 30%);
  --del-btn-focus-clr: rgba(193, 43, 1, 0.5);
  --del-btn-hover-clr: hsl(13, 99%, 36%);

  --section-width: 30rem;
  --task-input-width: 85%;
  --form-el-bdr-rad: 0.125rem;
  --checkbox-size: 1.125rem;

  --auth-ui-clr: hsl(0, 0%, 98%);
  --auth-ui-bdr-clr: hsl(0, 0%, 32%);
  --auth-ui-shadow-clr: rgba(0, 0, 0, 0.5);

  --close-popup-hover-clr: hsl(0, 0%, 90%);
  --close-popup-focus-clr: hsl(0, 0%, 80%);

  --google-btn-clr: hsl(217, 89%, 88%);
  --google-btn-bdr-clr: hsl(217, 89%, 62%);
  --google-btn-hover-clr: hsl(217, 89%, 78%);
  --google-btn-focus-clr: hsl(217, 89%, 62%);

  --microsoft-btn-clr: hsl(0, 0%, 88%);
  --microsoft-btn-bdr-clr: hsl(0, 0%, 62%);
  --microsoft-btn-hover-clr: hsl(0, 0%, 78%);
  --microsoft-btn-focus-clr: hsl(0, 0%, 62%);

  --btn-disabled: grayscale(100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  overflow-x: hidden;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  border: 1px solid;
  border-radius: var(--form-el-bdr-rad);
}

input {
  padding-inline: 0.25rem;
}

input:focus-visible {
  box-shadow: 0 0 0 3px var(--edit-btn-focus-clr);
}

input[type="checkbox"] {
  width: var(--checkbox-size);
  height: var(--checkbox-size);
}

button:hover {
  cursor: pointer;
}

button:disabled {
  filter: var(--btn-disabled);
  cursor: not-allowed;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.task-section-heading {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#root {
  min-height: 100vh;
}

header {
  position: relative;
  width: 100vw;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid black;
}

header .auth-button {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(5%, -50%);
}

header .auth-button {
  padding: 0.25rem 0.75rem;
}

header .auth-button:hover {
  background-color: var(--signup-btn-hover-clr);
}

header .auth-button:focus-visible {
  box-shadow: 0 0 0 3px var(--signup-btn-focus-clr);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 2rem;
}

main > section {
  width: var(--section-width);
}

main > section:first-child form {
  display: flex;
  justify-content: space-between;
}

main > section:first-child form input[type="text"] {
  width: var(--task-input-width);
  height: 2rem;
}

/* Add task button */
main > section:first-child form button[type="submit"] {
  padding: 0.125rem 1rem;
  border-color: var(--add-btn-bdr-clr);
  background-color: var(--add-btn-clr);
}

main > section:first-child form button[type="submit"]:hover {
  background-color: var(--add-btn-hover-clr);
}

main > section:first-child form button[type="submit"]:focus-visible {
  box-shadow: 0 0 0 3px var(--add-btn-focus-clr);
}

main > section:nth-child(2) {
  margin-block: 2rem;
}

.task-holder {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.task-holder > li {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  column-gap: 0.5rem;
  padding: 1rem;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 0.25rem;
}

/* \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ */
.task-holder > li input[type="text"] {
  display: none;
}
/* /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ */

.task-holder > li .task-details {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 0.5rem;
}

.task-holder > li .task-details label {
  word-break: break-all;
}

.task-holder > li .action-buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 0.5rem;
}

.task-holder > li .action-buttons button {
  font-size: 14px;
  padding: 0.125rem 0.5rem;
}

/* Edit task button */
.task-holder > li .action-buttons > button:first-child {
  color: #fff;
  border-color: var(--edit-btn-bdr-clr);
  background: var(--edit-btn-clr);
}

.task-holder > li .action-buttons > button:first-child:hover {
  background-color: var(--edit-btn-hover-clr);
}

.task-holder > li .action-buttons > button:first-child:focus-visible {
  box-shadow: 0 0 0 3px var(--edit-btn-focus-clr);
}

.task-holder > li .action-buttons > button:first-child:disabled {
  background-color: var(--edit-btn-disabled-clr);
  cursor: not-allowed;
  border-color: var(--edit-btn-disabled-bdr-clr);
}

/* Delete task button */
.task-holder > li .action-buttons > button:last-child {
  color: #fff;
  border-color: var(--del-btn-bdr-clr);
  background: var(--del-btn-clr);
}

.task-holder > li .action-buttons > button:last-child:hover {
  background-color: var(--del-btn-hover-clr);
}

.task-holder > li .action-buttons > button:last-child:focus-visible {
  box-shadow: 0 0 0 3px var(--del-btn-focus-clr);
}

/* Edit mode */
.task-holder > li.edit-mode .task-details {
  column-gap: 0.5rem;
}

.task-holder > li.edit-mode input[type="text"] {
  display: block;
  width: 90%;
}

.task-holder > li.edit-mode .task-details label {
  display: none;
}

/* Auth UI */
.auth-ui {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 500px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--auth-ui-bdr-clr);
  background-color: var(--auth-ui-clr);
  box-shadow: 0 0 10px 100vmax var(--auth-ui-shadow-clr);
}

.auth-ui .auth-ui-header {
  position: static;
  width: 100%;
  padding: 0;
  text-align: left;
  border: 0;

  display: flex;
  justify-content: end;
}

.auth-ui .auth-ui-header .close-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background-color: transparent;
}

.auth-ui .auth-ui-header .close-popup:hover {
  background-color: var(--close-popup-hover-clr);
}

.auth-ui .auth-ui-header .close-popup:focus-visible {
  box-shadow: 0 0 0 3px var(--close-popup-focus-clr);
}

.auth-ui .auth-ui-header .close-popup img {
  width: 0.75rem;
  height: 0.75rem;
}

.signin-ui {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.third-party-providers-list {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 1.25rem;
}

.third-party-providers-list li {
  width: 100%;
}

.third-party-providers-list li button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
  padding-block: 0.75rem;
}

.third-party-providers-list li button img {
  width: 1.5rem;
  height: 1.5rem;
}

/* Google */
.third-party-providers-list .google-button {
  border: 1px solid var(--google-btn-bdr-clr);
  background-color: var(--google-btn-clr);
}

.third-party-providers-list .google-button:hover {
  background-color: var(--google-btn-hover-clr);
}

.third-party-providers-list .google-button:focus-visible {
  box-shadow: 0 0 0 3px var(--google-btn-focus-clr);
}

/* Microsoft */
.third-party-providers-list .microsoft-button {
  border: 1px solid var(--microsoft-btn-bdr-clr);
  background-color: var(--microsoft-btn-clr);
}

.third-party-providers-list .microsoft-button:hover {
  background-color: var(--microsoft-btn-hover-clr);
}

.third-party-providers-list .microsoft-button:focus-visible {
  box-shadow: 0 0 0 3px var(--microsoft-btn-focus-clr);
}

@media (max-width: 768px) {
  :root {
    --section-width: 80vw;
    --task-input-width: 68vw;
  }

  .auth-ui {
    width: 80vw;
    height: 70vh;
  }
}

@media (max-width: 425px) {
  :root {
    --section-width: 90vw;
  }

  header {
    position: static;
    text-align: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header .auth-button {
    position: static;
    top: initial;
    right: initial;
    transform: initial;
  }

  main > section:first-child form input[type="text"] {
    width: 68vw;
  }

  .auth-ui {
    width: 90vw;
    height: 60vh;
  }
}
